body {
	background-image:URL('bg.jpg');
	background-size: cover;
	font-family: 'Impact';
}

#main {
	background-color:rgba(255,255,255,0.76);
	left: 20%;
	width: 60%;
	height: 100%;
	position: absolute;
	
}

h1 {
	font-size: 400%;
}

form {
	font-family: 'courier new';
}




#walletpng {
	position: absolute;
	width: 10%;
	left: 22%;
	top: 27%;

}

#money {
	position: absolute;
	font-family: 'Impact'; 
	color:#00ff00;
	font-size: 2vw;
	left: 25%;
	top: 35%;
}

table {
	table-layout: fixed;
}

tr { 
width: 33%;

}